<div id="header-img">
    <img id="h-img" src="/assets/yoga.jpg">
</div>
<div class="block">
  After centuries of boredom in the fitness industry, we knew we had to do something about it. No more getting stuck in a single activity, or watching your friends go gyming without you, or hearing your spouse complain about your love handles. We're here for you.
  <br><br>GYMjumper is an all-access pass to fitness in Southern Utah. With a single no-contract subscription you have access to a healthy and exciting variety of fitness facilities and activities.
</div>
