<mat-toolbar
  class="toolbar"
  *ngIf="
    !router.isActive('/signin', false) &&
    !router.isActive('/get-started', false)
  "
  [class.shadow]="appService.toolbarShadow"
>
  <img
    src="/assets/gymJumperLogo.png"
    class="title"
    routerLink="home"
    alt="Gym Jumper"
  />
  <div style="width: 50px"></div>
  <div class="flex"></div>
  <div class="desktop">
    <button
      mat-button
      class="link"
      routerLink="find-a-gym"
      routerLinkActive="tactive"
    >
      Map of partners
    </button>
    <button
      mat-button
      class="link"
      routerLink="how-it-works"
      routerLinkActive="tactive"
    >
      How it works
    </button>
    <button
      mat-button
      class="link"
      routerLink="pricing"
      routerLinkActive="tactive"
    >
      Pricing
    </button>
    <button
      mat-button
      class="link"
      routerLink="about"
      routerLinkActive="tactive"
    >
      About
    </button>
    <button mat-button class="link" (click)="routeSignUp('sign-in')">{{appService.loggedInStatus}}</button>
    <button
      mat-stroked-button
      (click)="routeSignUp('sign-up')"
    >
      SIGN UP
    </button>
  </div>
  <div class="mobile">
    <button mat-icon-button (click)="navSheet()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div id="spacer"></div>
<div class="hwindow" id="scroll">
  <router-outlet></router-outlet>
  <footer
    id="footer"
    *ngIf="
      !router.isActive('/account', false) &&
      !router.isActive('/signin', false) &&
      !router.isActive('/find-a-gym', false) &&
      !router.isActive('/get-started', false)
    "
  ></footer>
</div>
