.container {
  min-height: 100vh;
}

.drawer {
  width: 250px;
}

button.fabb {
  position: fixed;
  bottom: 48px;
  left: 221px;
  z-index: 100;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
  box-sizing: border-box;
  align-items: flex-start;
}

.full {
  width: 100%;
  object-position: center;
}

#header-img {
  height: 50vh;
  overflow: hidden;
}

#h-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.block {
  padding: 12px;
  font-size: 18px;
  max-width: 1000px;
  margin: 48px auto;
}