<div id="header-img">
  <img id="h-img" src="/assets/frontD.jpg">
</div>
<div class="block">
  As you enter every fitness center partner you will find a plaque sporting our logo near the front desk. Once you arrive, 
  simply pull out your phone, scan the QR code using your camera, click the "Enter Gym" button and show your screen to an employee. 
  That's it!
  <br><br>For information or directions for each gym you can view that on our "Map of Partners" page of the website. 
  If the fitness center has restrictions (such as a 1hr limit, limited number of visits per month, etc.) you'll see that in the partner map.
  <br><br>This is an entirely new way to think about fitness. GYMjumper is contract-free. 
  If you stumble upon your soul-mate location, feel free to end your subscription with us and sign up with that exclusive gym. 
</div>
