<div id="header">
  <img class="h-img" src="/assets/home2.jpg">
  <div class="overlay"></div>
  <div id="header-box">
    <div id="header-text">Fun, fitness, freedom: </div>
    <div id="header-info">Making fitness fun again by unlocking over twenty plus fitness options</div>
    <button mat-raised-button class="ac-btn" [routerLink]="'/sign-up'" color="accent">Get Started for only $99/Month</button>
  </div>
</div>
<div class="banner">Jump into any of these locations</div>
<div class="slider">
  <div class="slide-track">
    <div class="slide" *ngFor="let gym of gyms">
      <img src={{gym.logoUrl}} alt="" />
    </div>
    <div class="slide slide2" *ngFor="let gym of gyms">
      <img src={{gym.logoUrl}} alt="" />
    </div>
  </div>
</div>
<div class="banner" style="margin-bottom: 48px;">
  <button mat-raised-button [routerLink]="'/find-a-gym'" color="accent">See map of our partners</button>
</div>
<div class="block dark">
  <div class="side">
    <div class="b-header">You hold the power</div>
    <div class="b-info">A refreshing approach to gym memberships.  You pay one membership and gain access to all of our 20+ partnering facilities. 
      Why go to one gym when you can go to all of them?  With Gymjumper your phone is your pass!  At each of our partners you will find a Gymjumper QR code near the front desk.
      All you do is scan the code and press "enter gym". Then BAM! you're all set! 
      <br><br>This is the last gym membership you will ever want, guaranteed.</div>
  </div>
  <img id="phone-img" src="/assets/homePhone.png">
</div>
<div class="block">
  <div class="side">
    <div id="p-block">
      <div class="p-title">Premier Pass</div>
      <div id="p-price">$99/mo</div>
      <button mat-raised-button id="get-started" [routerLink]="'/sign-up'" color="primary">GET STARTED</button>
      <div class="p-info"><mat-icon>check</mat-icon>No fine print here. This is the best gym pass there is. Some gyms have common sense restrictions and you can see those transparently on our partner map when you're logged in.</div>
    </div>
  </div>
  <div class="side">
    <div class="b-header">Simple pricing</div>
    <div class="b-info">Free cancelations. Month-to-month flat rate of $99. No questions asked. This pass gives you the flexibility to visit most gyms in the greater St. George area.
      Use our partner map to find all our locations along with directions, hours, and any limitations they may have.
    </div>
</div>